<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%=cl_image_path 'banner_1_sl1col.jpg', width: 1400, height: 1000, crop: :fill %>');">
  <div class="container">
    <h1>Cocktailicioso</h1>
    <p>The world's best cocktails.</p>

  </div>
</div>


<div class="container mt-4">
  <h3 class="mb-4"> Delicioso's choices for today: </h3>
  <% @sample_cocktails = @cocktails.sample(3)%>
  <%= render partial: 'shared/cocktails-card', object: @sample_cocktails, as: :cocktails%>
  <%= form_tag root_path, class: "d-flex my-4", method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a cocktail"
    %>
    <%= submit_tag "Search", class: "btn-gray" %>
  <% end %>
  <%= render partial: 'shared/cocktails-card', object: @cocktails_results, as: :cocktails%>
</div>
