<div class="container">
  <div class="container-show">
  <%= render partial: 'shared/image-slider'%>
    <div class="container-ingredients">
      <h2><%= @cocktail.name %></h2>
        <div class="ingredients">
        <% @cocktail.doses.each do |d| %>
          <div id="description"><%= d.description %></div>
          <div id="ingredient"><%= d.ingredient.name %></div>
        <% end %>
      </div>
    </div>
    <div class="container-cocktail">
      <h2>Community Reviews </h2>
      <% if @cocktail.reviews.blank? %>
        <p> Leave the first comment!</p>
      <% else %>
        <% @cocktail.reviews do |review| %>
          <%= review.rating %>
        <% end %>
      <% end %>
      <%= simple_form_for [@cocktail] do |f| %>
        <%= f.association :user, label_method: :username, value_method: :id, include_blank: false%>

        <%= f.submit "add review", class: "btn-orange" %>
      <% end %>
    </div>
  </div>
</div>
