<div class="container">
  <div class="container-show">
  <%= render partial: 'shared/image-slider'%>
    <div class="container-ingredients">
      <div class="d-flex justify-content-between">
        <h2><%= @cocktail.name %></h2>
        <h2><i class="far fa-heart"></i></h2>
      </div>
        <div class="rating mb-4">
          <% if @cocktail.reviews.empty? %>
            <% @sum_rating = 0 %>
            <%= render partial: 'shared/star-rating', object: @sum_rating, as: :rating%>
          <% else %>
            <% @sum_rating = 0 %>
            <% @cocktail.reviews.each do |review| %>
              <% @sum_rating += review.rating %>
            <% end %>
            <% @sum_rating = @sum_rating / @cocktail.reviews.length.to_i %>
            <%= render partial: 'shared/star-rating', object: @sum_rating, as: :rating%>
          <% end %>
        </div>
        <div class="ingredients">
        <% @cocktail.doses.each do |d| %>
          <div id="description"><%= d.description %></div>
          <div id="ingredient"><%= d.ingredient.name %></div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="container-reviews">
    <h2>Community reviews </h2>
    <% if @cocktail.reviews.blank? %>
      <p> Leave the first comment!</p>
    <% else %>
      <% @cocktail.reviews.each do |review| %>
        <div class="d-flex justify-content-between w-25 mb-0">
          <%= render partial: 'shared/star-rating', object: review.rating, as: :rating%>
          <p class="mb-0"><%= review.user.username %></p>
        </div>
        <p><%= review.comment %></p>
      <% end %>
    <% end %>
  </div>
  <div class="container-reviews">
    <h2>Leave a review!</h2>
    <%= simple_form_for [@cocktail, @review] do |f| %>
      <%= f.association :user, label_method: :username, value_method: :id, include_blank: false%>
      <%= f.input :rating, label: "Give a rating", as: :integer %>
      <%= f.input :comment, label: "Leave a comment" %>
      <%= f.submit "add review", class: "btn-orange" %>
    <% end %>
  </div>
</div>
