<div class="cards">
  <% current_user.cocktails.each do |cocktail| %>
    <div class="card-my-cocktail">
      <img src="<%= cl_image_path cocktail.photo.key%>" alt="">
      <div class="card-my-cocktail-infos">
        <div class="d-flex justify-content-between align-items-center">
          <h2><%=link_to cocktail.name, cocktail_path(cocktail)%></h2>
          <%=link_to cocktail_path(cocktail) do %>
            <i class="fas fa-edit"></i>
          <% end %>
        </div>
        <div class="d-flex likes text-align-center align-items-center justify-content-center">
          <i class="fas fa-heart mr-1"></i>
          <p class="my-0"> 255</p>
        </div>
        <div class="rating">
          <% if cocktail.reviews.empty? %>
            <% @sum_rating = 0 %>
            <%= render partial: 'shared/star-rating', object: @sum_rating, as: :rating%>
          <% else %>
            <% @sum_rating = 0 %>
            <% cocktail.reviews.each do |review| %>
              <% @sum_rating += review.rating %>
            <% end %>
            <% @sum_rating / cocktail.reviews.length.to_i %>
            <%= render partial: 'shared/star-rating', object: @sum_rating, as: :rating%>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
